<main class="container content-wrap">
  <h1> Workouts </h1>
  <div class="row">
    <div class="col-6">
      <button id="new-workout" class= "btn-space" >Create Workout</button>
    </div>
    <div class="col-6">
      <button id="new-exercise" class= "btn-space" >Create Exercise</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button id="view-workout" class= "btn-space" >View Workouts</button>
    </div>
    <div class="col-6">
      <button id="view-exercise" class= "btn-space" >View Exercises</button>
    </div>
  </div>
</main>