<main class="container content-wrap">
  <div class="row">
    <div class="col-6">
      <button id="new-workout">Create Workout</button>
    </div>
    <div class="col-6">
      <button id="new-exercise">Create Exercise</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button id="view-workout">View Workouts</button>
    </div>
    <div class="col-6">
      <button id="view-exercise">View Exercises</button>
    </div>
  </div>
</main>