<form action="/submit" method="post">
    <h1>Hi User!</h1>
    <h2>Enter a Note!</h2>
      <input type="text" name="title" placeholder="Title">
      <textarea type="text" name="body">Write Note Here</textarea>

      <input type="submit">
      <a href="/api/exercise">See your notes!</a>
      <a href="/api/workout">See your profile!</a>
      <a href="/api/workout/populatedworkout">See your profile, populated with notes!</a>
    </form>